*{
	//border: 1px red solid;
}

body{
	background-image: url("1.jpg");
	background-repeat: repeat;
} 

.container{
	width: 750px;
	margin: 0 auto;

}

.header{
	width:750px;
	height:40px;
	margin:0 auto;
	background-color: #273757;
}

#line1{
	width: 100px;
	border: 1px black solid;
	color: #000000;
}

img{
	height:400px;
	width:750px;
	float:left;
}

