*{
	//border:1px red solid;
}

body{
	background-image:url("1.jpg");
	background-repeat:repeat;
} 

.container{
	min-width:920px;
	width:54.9%;
	margin:0 auto;
}

.header{
	width:100%;
	height:4.8%;
	background-color:#273757;
}

.line1{
	margin-top:10px;
	margin-bottom:-17px;
	width:99.7%;
	opacity:0.34;
	border:1px solid #000000;
	color:#000000;
}

/*.line{
	position: absolute;
	width: 40px;
	height: 0px;
	left: 620px;
	top: 28px;
	color:#ffffff;
	border: 1px solid #FFFFFF;
	transform: rotate(90deg);
}*/

.line2{
	margin-top:5px;
	margin-left:432px;
	width:14%;
	color:#ffffff;
	border:1px solid #ffffff;
}

.line3{
	margin-top:10px;
	margin-bottom:10px;
	width:99.7%;
	opacity:0.34;
	border:1px solid #000000;
	color:#000000;
}

h3{
	font-size:20pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

h2{
	width:20px;
	display:inline;
	padding-left:88px;
	position:relative;
	top:7px;
	font-size:18pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.block{
	float:left;
}

.parient{
	background-color:#273757;
	height:3000px;
	width:100%;
}

.vk>img{
	height:25px;
	width:26px;
}

.mail>img{
	height:25px;
	width:26px;
}

.basement{
	background-color:#273757;
	height:6%;
	width:100%;
}

p{
	font-size:12pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
}

.header>a{
	color:white;
	text-decoration: none;
}

a{
	
}


.footer_elem{
	font-size:12pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
	float:left;
	/*border:1px blue solid;*/
	margin:15px;
}