*{
	//border:1px red solid;
}

body{
	background-image:url("1.jpg");
	background-repeat:repeat;
} 

.container{
	min-width:920px;
	width:49%;
	margin:0 auto;
}

.header1{
	width:100%;
	height:42px;
	background-color:#273757;
}

.header1>a{
	color:white;
	text-decoration: none;
}

.header1 h2{
	width:20px;
	display:inline;
	position:relative;
	left:2%;
	top:7px;
	margin:4.2%;
	font-size:18pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.header2{
	width:100%;
	height:42px;
	background-color:#273757;
}

.header2>a{
	color:white;
	text-decoration: none;
}

.header2 h2{
	width:20px;
	display:inline;
	position:relative;
	left:1%;
	top:7px;
	margin:3.4%;
	font-size:18pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.header3{
	width:100%;
	height:42px;
	background-color:#273757;
}

.header3>a{
	color:white;
	text-decoration: none;
}

.header3 h2{
	width:20px;
	display:inline;
	position:relative;
	left:4%;
	top:7px;
	margin:4.4%;
	font-size:18pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.header4{
	width:100%;
	height:42px;
	background-color:#273757;
}

.header4>a{
	color:white;
	text-decoration: none;
}

.header4 h2{
	width:20px;
	display:inline;
	position:relative;
	left:1.6%;
	top:7px;
	margin:3%;
	font-size:20pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.line1{
	margin-top:10px;
	margin-bottom:10px;
	width:99.7%;
	opacity:0.34;
	border:1px solid #000000;
	color:#000000;
}

.line2{
	margin-top:-20px;
	margin-left:365px;
	width:16%;
	color:white;
	border:1px solid white;
}

.line21{
	margin-top:-20px;
	margin-left:353px;
	width:21%;
	color:white;
	border:1px solid white;
}


.line3{
	margin-top:10px;
	margin-bottom:10px;
	width:99.7%;
	opacity:0.34;
	border:1px solid #000000;
	color:#000000;
}

.line4{
	margin-top:40px;
	margin-bottom:40px;
	margin-left:11%;
	width:78%;
	border:1px solid white;
	color:white;
}

.line7{
	margin-top:-20px;
	margin-left:377px;
	width:13%;
	color:white;
	border:1px solid white;
}

.block{
	float:left;
}

.parient1{
	background-color:#273757;
	height:4900px;
	width:100%;
}

.parient2{
	background-color:#273757;
	height:2450px;
	width:100%;
}

.parient3{
	background-color:#273757;
	height:2400px;
	width:100%;
}

.parient4{
	background-color:#273757;
	height:2750px;
	width:100%;
}

.vk>img{
	height:25px;
	width:26px;
}

.mail>img{
	height:25px;
	width:26px;
}

.mm{
	padding-left:37%;
	font-size:20pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
}

.rr{
	padding-left:23.5%;
	font-size:20pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
}

.os{
	padding-left:20.06%;
}

p{
	font-size:12pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
}

.g{
	margin-left:12%;
	margin-right:10%;
	width:78%;
}

.s{
	margin-left:13%;
	margin-right:10%;
}

.b{
	margin-top:22px;
	margin-left:20%;
	width:555px;
	height:450px;
	border:1px #ADD8E6 solid;
	
}

.t{
	padding-left:28%;
	font-size:20pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
}

.q{
	padding-left:36%;
	font-size:20pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
}

.a{
	position:relative;
	left:187px;
	border:1px #ADD8E6 solid;
}

.L{
	position:relative;
	left:295px;
	border:1px #ADD8E6 solid;
}

.main{
	margin-left:12%;
	font-size:18pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
}

ul{
	margin-left:12%;
	font-size:12pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
}

.bb{
	margin-top:22px;
	margin-left:10.5%;
	width:730px;
	height:450px;
	border:1px #ADD8E6 solid;
}

.bb2{
	margin-top:22px;
	margin-left:11%;
	width:730px;
	height:450px;
	border:1px #ADD8E6 solid;
}

.bb3{
	margin-top:22px;
	margin-left:10.3%;
	width:730px;
	height:450px;
	border:1px #ADD8E6 solid;
}

.dd1{
	padding-top:20px;
	margin-top:0px;
	margin-left:352px;
	font-size:20pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.dd2{
	padding-top:20px;
	margin-top:0px;
	margin-left:390px;
	font-size:20pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.dd3{
	padding-top:20px;
	margin-top:0px;
	margin-left:324px;
	font-size:20pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.dd4{
	padding-top:20px;
	margin-top:0px;
	margin-left:361px;
	font-size:20pt;
	font-family:new cycle;
	font-weight:regular;
	color:#ffffff;
}

.coc{
	width:400px;
	margin-left:29%;
}

.basement{
	background-color:#273757;
	height:55px;
	width:100%;
}

.footer_elem{
	font-size:12pt;
	font-family:Roboto;
	font-weight:regular;
	color:#ffffff;
	float:left;
	/*border:1px blue solid;*/
	margin:15px;
}