*{
	//border:1px red solid;
}

body{
	background-image:url("1.jpg");
	background-repeat:repeat;
} 

.container{
	width:50%;
	margin:0 auto;

}

.header{
	width:100%;
	height:4%;
	margin:0 auto;
	background-color:#273757;
}

.line1{
	margin-top:10px;
	width:100%;
	opacity:0.34;
	border:1px solid #000000;
	color:#000000;
}

h2{
	margin-left:5px;
	font-size:20pt;
	font-family:Roboto;
	font-weight:regular;
}

.line2{
	margin-top:10px;
	width:99.9%;
	opacity:0.34;
	border:1px solid #000000;
	color:#000000;
}

.slider>img{
	min-height:15%;
	margin-top:10px;
	height:46.2%;
	width:100%;

}

.rectangle{
	margin-top:10px;
	background-color:#273757;
	height:270px;
	width:100%;
}

#block1{
	background-color:pink;
	width:;
}

#block1>img{
	
}

#block2{
	background-color:pink;
	
}

#block2>img{
	
}

#block3{
	background-color:pink;

}

#block3>img{
	
}

#block4{
	background-color:pink;
	
}

#block4>img{
	
}

.line3{
	margin-top:10px;
	width:100%;
	opacity:0.34;
	border:1px solid #000000;
	color:#000000;
}

.basement{
	margin-top:10px;
	background-color:#273757;
	height:144px;
	width:100%;
}

#vk>img{
	height:25px;
	width:26px;
}

#mail>img{
	height:25px;
	width:26px;
}
